:root .theme_dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-text-color: #000028;
  --main-text-color: #f1b2ce;
  --menu-color: #ff0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --button-hover-color: rgb(255, 0, 112, 0.4);
}

.theme_dark .recording-logo {
  display: block;
}

@media (prefers-color-scheme: dark) {
  .recording-logo {
    display: block;
  }
}
