:root .theme_light {
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-text-color: #353430;
  --main-text-color: #353430;
  --bg-color: #fff1f7;
  --menu-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --button-hover-color: rgb(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-text-color: #353430;
    --main-text-color: #353430;
    --bg-color: #fff1f7;
    --menu-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --button-hover-color: rgb(50, 49, 45, 0.4);
  }

  .recording-logo {
    display: none;
  }
}

.theme_light .recording-logo {
  display: none;
}
