/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  padding: 10px;
  color: var(--main-text-color);
  font-family: "IBM Plex Mono";
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.header {
  display: grid;
  grid-template-columns: 1fr 70px;
  grid-auto-rows: min-content;
  gap: 10px;
  height: 100vh;
}

.header__theme-menu {
  grid-area: 2/2/3/3;
  padding-top: 56px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
}

.header__theme-menu-item {
  color: var(--menu-color);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px; /* 100% */
}

.header__theme-menu-button {
  border: none;
  background-color: transparent;
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color);
}

.main-title {
  grid-area: 3/1/4/3;
  color: var(--title-color);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  line-height: 82.5%; /* 95.7px */
  text-shadow: 4px 4px 0px var(--accent-color);
  padding-top: 57px;
}

.header-accent-title {
  grid-area: 4/1/5/3;
  justify-self: flex-end;
  align-self: center;
  margin-top: 45px;
  font-size: 18px;
  font-weight: 700;
}

.title-decor {
  color: var(--title-text-color);
  background-color: var(--accent-color);
}

.accent-title {
  font-size: 18px;
  line-height: 23.4px;
}

.accent-title {
  margin-top: 20px;
}

.accent-title:only-of-type{
  margin-bottom: 10px;
  margin-top: 0;
}

.section {
  padding-bottom: 50px;
  line-height: 23.4px;
}

.section:first-child {
  margin-top: 10px;
}

.section-title {
  color: var(--menu-color);
  font-size: 18px;
}

.section-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25.038px;
  height: 24.999px;
  border-top: 1px solid var(--menu-color);
  border-right: 1px solid var(--menu-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 25.038px;
  height: 24.999px;
  border-bottom: 1px solid var(--menu-color);
  border-left: 1px solid var(--menu-color);
}

.gallery {
  display: grid;

}

.gallery__lot {
  display: block;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}


.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@media (width > 375px) {
  .page {
    padding: 20px;
  }

  .header-accent-title {
    max-width: 364px;
  }

  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .section-grid {
    display: grid;
    grid-template-columns: 236px 1fr;
    gap: 20px;
  }

  .accent-title:first-child {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .section-grid-center {
    display: grid;
    grid-template-columns: 236px 1fr;
    grid-template-rows: 70px 1fr;
    gap: 20px;
  }

  .section-grid-center ul {
    grid-area: 2/1/3/3;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .gallery__lot:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .gallery__lot:nth-child(2) {
    grid-area: 1/3/3/4;
  }

  .gallery__lot:nth-child(3) {
    grid-area: 2/1/5/2;
  }

  .gallery__lot:nth-child(4) {
    grid-area: 2/2/3/3;
  }

  .gallery__lot:nth-child(5) {
    grid-area: 3/2/5/4;
  }
}
